node_modules
.next
.git
.vscode
.idea
.env.local
.env
README.md
Dockerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
wix-backup*.tar.gz
wix-legacy-pages
bitacora.txt
*.md
.gitignore
.eslintrc*
.prettierrc*
coverage
.nyc_output